body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #3b444b;
    width: 20%;
    padding: 2,5%;
    height: 100vh !important;
    color: #3b444b;
    border-right: 10px solid #d3d3d3
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 15px;
    color: #00FF00;
    }

aside h3 {
    margin-top: 50px;
    font-size; 28px;
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: bold;


}



aside ul li  {
    color: #fff;
    margin-top: 30px;
    transition: transform .6s ease;
    padding-left: 5px;

    font-size: 17px;
    display: flex;
    align-items: center;



}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);


}

.features {
    float: left;
    color: #fff;
    margin-top: 60px;
    text-align: center;
    width: 75%;
}

.alert.alert-warning {
    float: left;
    clear: both;
    margin: 20px 34%;
    text-align: left;
    width: 400px;
}

.features h1 {font-size: 40px;}
.features p {max-width: 400px; margin: 20px auto}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
.contact-info {
    color: #7FFF00;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10px;

}



.dynamic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #7FFF00;
}

.container {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.text-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.roww {

    color: #196F3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.form-group {
    color: #196F3D;
}